* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.03em;
}

body {
    background-color: rgba(187, 179, 170, 0.377);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
small {
    font-size: .6em;
    color: red;
}

article p {
    margin: 8px;
}

.api ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 70vw;
}

.api li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: rgba(226, 82, 25, 0.226);
    border-radius: 70px 0 0 0;   
    transition-duration: 3s, 5s;
}

.api li:hover {
    transform: scale(1.2); 
    transition-property: opacity, left, top, height;
    background-color: rgba(226, 82, 25, 0.048);
}

h1 {
    margin: 1.5em;
    text-shadow: 1px 1px rgb(243, 229, 32);
    border-bottom: 3px solid rgba(241, 25, 25, 0.308);
    font-size: 3em;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.card {
    max-width: 500px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    box-shadow: 5px 5px 5px 5px rgb(42, 54, 58);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.description {
    margin-top: 20px;
}

.description p {
    margin: 8px;
}

header {
    background-color: beige;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

header nav li {
    list-style: none;
    background-color: fucsia;
}

header nav li a {
    font-size: larger;
    color: chocolate;
}

header nav li a:hover {
    font-size: larger;
    color: rgba(210, 105, 30, 0.7);
    text-decoration: underline;
}

.p-email {
    display: flex;
    gap: 10px;
}

footer {
    width: 100%;
    padding: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(233, 206, 176, 0.377);
}