* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgba(187, 179, 170, 0.377);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

h1 {
    margin: 1.5em;
    text-shadow: 1px 1px rgb(243, 229, 32);
    border-bottom: 3px solid rgba(241, 25, 25, 0.308);
    font-size: 3em;
    text-align: center;
}

.content {    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90%;
}

.card {
    max-width: 500px; 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    box-shadow: 5px 5px 5px 5px rgb(42, 54, 58);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.description {
    margin-top: 20px;
}
.description p {
    margin: 8px;
}

footer {
    width: 100%;
    padding: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(233, 206, 176, 0.377);

}